.container {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pokemon_list {
  list-style: none;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

.pokemon_list li {
  cursor: default;
  text-align: center;
  border-radius: 20px;
  width: 230px;
  margin-bottom: 5px;
  border: 3px solid rgb(0, 141, 94);
  color: rgb(0, 141, 94);
  font-weight: 600;
  font-size: 20px;
  padding: 10px;
}
